.mySidebar {
    border-right: 1px solid skyblue;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-y: auto;
}

.searchForm {
    margin: 10px 0px !important;
}

a:hover {
    cursor: pointer;
    color: #007BFF !important;
    background-color: #E3F2FD; 
}

a.active {
    color: white !important;
}

