<div class="row">
    <div class="col-md-12">
        <agm-map *ngIf="dir"
            [latitude]="dir.origin.lat" 
            [longitude]="dir.origin.lng" 
            (mapClick)="getLocation($event)">
            <agm-direction 
                *ngIf="dir" 
                [origin]="dir.origin" 
                [destination]="dir.destination" 
                [panel]="directionsPanel">
            </agm-direction>
        </agm-map>
    </div>
</div>
<div class="row holder">
    <div class="col-md-12" #directionsPanel id="floating-panel">
    </div>
</div>