agm-map {
    height: 400px;
}

.holder {
    margin-right: 0px;
}

#floating-panel {
    height: 150px;
    /* width: calc(100% - 30px); */
    background-color: #fff;
    padding: 5px;
    margin: auto 15px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
    overflow-y: auto;
} 