<div class="container">
    <div class="card">
      <div class="card-header text-center">
        <h5>Sign Up</h5>
      </div>
      <div class="card-block">
        <br>
        <form (ngSubmit)="onSignup(f)" #f="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" 
              class="form-control" 
              name="username" 
              id="username" 
              placeholder="Username" 
              #username="ngModel"
              required 
              ngModel>
            <span class="help-block text-muted error-text"
              *ngIf="!username.valid && username.touched">Please enter a valid Username</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" 
              class="form-control" 
              name="password" 
              id="password" 
              placeholder="Password" 
              #password="ngModel"
              required ngModel>
              <span class="help-block text-muted error-text"
                *ngIf="!password.valid && password.touched">Please enter a valid Password</span>
          </div>
          <button class="btn btn-primary btn-block" 
            type="submit">Register
          </button>
        </form>
        <div class="text-center">
          <a routerLink="/login">Already have an Account? Log In</a>
          <p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
        </div>
      </div>
    </div>
  </div>